<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
    input.ng-invalid {
        background-color: lightblue;
    }

    table, th , td {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
    }
    table tr:nth-child(odd) {
        background-color: #f1f1f1;
    }
    table tr:nth-child(even) {
        background-color: #ffffff;
    }

    input.ng-invalid {
        background-color: pink;
    }
    input.ng-valid {
        background-color: lightgreen;
    }

    div {
        padding-left: 25%;
        padding-right: 25%;
    }

</style>

<body>

<div ng-app="myApp" ng-controller="myCtrl" align="center">
    <form name="myForm" align="center">
        <br>
        <div class="alert alert-danger" ng-show="alertdangershow = (namereq || surnamereq || emailreq || passreq || emailvalid)" class="col-md-4">
            <ul>
                <li ng-show="namereq = (myForm.nameInput.$pristine || myForm.nameInput.$error.required)">
                    Name required.
                </li>
                <li ng-show="surnamereq = (myForm.surnameInput.$pristine || myForm.surnameInput.$error.required)">
                    Surname required.
                </li>
                <li ng-show="emailreq = (myForm.loginInput.$pristine || myForm.loginInput.$error.required)">
                    E-mail required.
                </li>
                <li ng-show="emailvalid = (myForm.loginInput.$invalid && !emailreq)">
                    E-mail is invalid.
                </li>
                <li ng-show="passreq = (myForm.passInput.$pristine || myForm.passInput.$error.required)">
                    Password required.
                </li>
            </ul>
        </div>

        <div class="alert alert-info" ng-show="alertinfoshow = (!alertdangershow && !finishClicked)">
            <ul>
                <li>
                    Click "Finish" to continue registration.
                </li>
            </ul>
        </div>

        <div class="alert alert-success" ng-show="finishClicked">
            <ul>
                <li>
                    Registration complete.
                </li>
            </ul>
        </div>

        <table class="table" align="center">
            <tr>
                <td>
                    <p>Name: </p>
                </td>
                <td>
                    <input name="nameInput" class="form-control" type="text" ng-model="user.firstName" required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>Last name: </p>
                </td>
                <td>
                    <input name="surnameInput" class="form-control" type="text" ng-model="user.surname" required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>e-mail: </p>
                </td>
                <td>
                    <input name="loginInput" class="form-control" type="email" ng-model="user.email" required>
                </td>
            </tr>
            <tr>
                <td>
                    <p>password: </p>
                </td>
                <td>
                    <input name="passInput" class="form-control" type="password" ng-model="user.password" required>
                </td>
            </tr>
        </table>
        <br>
        <input class="btn btn-success" type="button" ng-disabled="!alertinfoshow" value="Finish" ng-click="createUser()">
    </form>
</div>

    <script src="MyCtrl.js">
    </script>

</body>
</html>